;; shadow-cljs configuration
{:source-paths ["src/main" "src/test"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "0.8.0-alpha2"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :dev-http {8021 "out/test"}
 
 :builds {:test {:target :node-test
                 :output-to "out/node-tests.js"
                 :autorun true}
          
          :browser-test {:target :browser-test
                         :test-dir "out/test"}

          :app {:target :browser
                :output-dir "public/js/compiled"
                :asset-path "/js/compiled"

                :modules {:main {:init-fn hello-three.core/init}}
        
                :compiler-options {:infer-externs true}
        
                :devtools {;; before live-reloading any code call this function
                           :before-load hello-three.core/stop

                           ;; after live-reloading finishes call this function
                           :after-load hello-three.core/start

                           ;; serve the public directory over http at port 8700
                           :http-root    "public"
                           :http-port    8700
                           :preloads     [devtools.preload]}}}}
        
